.stay-wrapper{
    width: 100%;
     padding: 20px;
    /* display: flex;
    justify-content: center;
    align-items: center; */
    /* flex-direction: column; */
    background-color: rgb(24, 34, 48);
    /* gap: 10px;  */

}
.stay-wrapper h2{
    text-align: center;
    font-weight: 600;
    color: #fff;
}

/* .nalu-kettu{
    min-height: 50vh;
    padding: 0;
}
.nalukettu-wrapper{
    width: 100%;
    background-size: contain;
    background-repeat: no-repeat;
    height: 100%;
    position: relative;
} */
@keyframes backcolor {
    100%{
        background-position: 0 0;
    }
}

.stay-variety{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}
  
  .inner .icon {
    width: 80px;
    margin-bottom: 20px;
  }
  
  .inner h3 {
    margin-bottom: 8px;
    color: #ffffff;
    font-size: 30px;
    font-weight: 700;
    line-height: 40px;
    text-transform: capitalize;
  }
  
  .inner p {
    color: #ffffff;
    font-size: 16px;
    line-height: 28px;
  }
  
  .flip-card:hover .flip-card-front {
    transform: rotateY(-180deg);
  }
  
  .flip-card:hover .flip-card-back {
    transform: rotateY(0deg);
  }
  .package-card-stay{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 50px;
    padding: 30px;
    width: 100%;
  }
  /* .tab-item{
    display: flex;
    align-items: center;
    justify-content: space-between !important;
  } */